{% extends "base.html" %}

{% block content %}
    <div class="large-7 columns">

        <div class="linebreaker">
            <h2>Paste text here to remove line-breaks</h2>
            <textarea id='oldText' class="wide"></textarea>
        </div>

        <button id='convert' onclick='removeBreaks()'>Convert</button>

        <h2>New Text:</h2>
        <div class="results">
            <textarea id="newText" class="wide"></textarea>
        </div>

    </div>

    <ul>
     {% for storm_chaser in storm_chasers %}
         <li>{{ storm_chaser }}</li>
     {% end %}
    </ul>
{% end %}

{% block footer %}
  <p>
      <ul>
        <li><a href="http://dtredger.github.io">Home</a></li>
        <li><a href="http://dtredger.github.io">Home again</a></li>
        <li><a href="http://dtredger.github.io">Home!</a></li>
      </ul>
  </p>
{% end %}