{% extends "base.html" %}

{% block content %}

    <div class="large-7 columns">

        <div class="linebreaker">
            <h2>Paste text here to remove line-breaks</h2>
            <textarea id='oldText' class="wide"></textarea>
        </div>

        <button id='convert' onclick='removeBreaks()'>Convert</button>

        <h2>New Text:</h2>
        <div class="results">
            <textarea id="newText" class="wide"></textarea>
        </div>

    </div>

    <div class="borderbox large-4 columns">
        <h2>Temperature and Humidity:</h2>
        <p>{{humidity}}</p>
    </div>



{% end %}