{% extends "base.html" %}

{% block content %}

    <div class="large-7 columns">

        <div class="linebreaker">
            <h2>Paste text here to remove line-breaks</h2>
            <textarea id='oldText' class="wide"></textarea>
        </div>

        <button id='convert' onclick='removeBreaks()'>Convert</button>

        <h2>New Text:</h2>
        <div class="results">
            <textarea id="newText" class="wide"></textarea>
        </div>

    </div>

    <div>
        {{humidity}}
    </div>

    <!--<ul>-->
     <!--&lt;!&ndash;{% for storm_chaser in storm_chasers %}&ndash;&gt;-->
         <!--&lt;!&ndash;<li>{{ storm_chaser }}</li>&ndash;&gt;-->
     <!--&lt;!&ndash;{% end %}&ndash;&gt;-->
    <!--</ul>-->


{% end %}